<h1>登入</h1>

<%= form_with(url: session_path , scope: "user", method: "post") do |form|%>
    <div class="field">
        <%= form.label :account, "Account" %>
        <%= form.text_field :account, placeholder: "Email or Username" %>
    </div>
    <div class="field">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password %>
    </div>
    <%= form.submit "登入" %>

<% end %>