<h1>註冊會員</h1>

<% if @user.errors.any? %>
<ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_with(model: @user) do |form| %>
    <div class="fields" >
    <%= form.label :email %>
    <%= form.email_field :email %>
    </div>
    
   <div class="fields" >
    <%= form.label :username %>
    <%= form.text_field :username %>
    </div>
    <div class="fields" >
    <%= form.label :password %>
    <%= form.password_field :password %>
    </div>

    <div class="fields">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    </div>
    <input type="submit" value="註冊">
<% end %>