

<%= form_with(model: resume) do |form| %>
    <div class="fields">
    <%= form.label :title, "標題"%>
    <%= form.text_field :title %>
    </div>
    <div class="fields">
    <%= form.label :photo, "照片"%>
    <%= form.file_field :photo %>
    </div>

    <div class="fields">
    <%= form.label :context, "內容" %>
    <%= form.text_area :context , data: {controller: "markdown-editor" } %>
    </div>

    <div class="fields">
    <%= form.label :status, "狀態" %>
    <%= form.select :status , Resume.all_status %>
    </div>
    <input type="submit" value="<%= text %>">
<% end %>